// COLORS
$primary: #A0CCDA;

$secondary: #B6EFD4;
$secondary2: #9CFFD9;
$secondary3: #7CE577;
$secondary4: #2e4b1f;

$white: #ffffff;
$black: #000000;
$light-gray: #f7f7f7;
$dark-gray: #676767;

// FONT
$default-font-size: 1.6rem;
