.btn {
  &,
  &:link,
  &:visited {
    //text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($black, .2);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($black, .2);
  }

  &--white {
    background-color: $white;
    color: $primary;

    &::after {
      background-color: $white;
    }
  }

  &--primary {
    background-color: $secondary;
    color: $dark-gray;

    &::after {
      background-color: $secondary;
    }
  }

  &--round {
    padding: 0;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    text-align: center;
    //opacity: 75%;
  }

  &--pill {
    padding: 0.5rem 1rem;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }

  &--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  width: 100%;
  font-size: $default-font-size;
  color: $primary;
  display: inline-block;
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid $primary;
  padding: 3px;
  transition: all .2s;
  background-color: $secondary;
  padding: 0.5rem;

  &:hover {
    box-shadow: 0 1rem 2rem rgba($black, .15);
    transform: translateY(-2px);
  }
}