.navigation {

  //ICON
  &__icon {
    @include absCenter;

    &,
    &::before,
    &::after {
      width: 2.5rem;
      height: 2px;
      background-color: $secondary4;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {
      top: -.8rem;
    }

    &::after {
      top: .8rem;
    }
  }
}